@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

html {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
  color: black;
}
.container {
  max-width: 100%;
  padding-top: 20px;
}

.conflex {
  justify-content: center;
  font-style: Source Sans Pro;
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.flex-direction {
  flex-direction: column;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 32px;
  text-align: center;
}
.text-align {
  text-align: center;
}
a {
  text-decoration: none;
}
mark {
  background-color: #fa4d77;
  color: #ffffff;
}

.img-section1 {
  width: 393px;
}

/* positioning*/
.img-1 {
  position: relative;
  right: 150px;
}
.img-2 {
  position: relative;
  right: 10px;
}
.img-3 {
  position: relative;
  right: 120px;
  z-index: 2;
  top: 55px;
}
.img-4 {
  position: relative;
  right: 190px;
  z-index: 1;
}
.img-5 {
  position: relative;
  right: 690px;
  top: 235px;
  z-index: 2;
}
.img-6 {
  position: relative;
  left: 25px;
  bottom: 50px;
}

#easy-form {
  padding-top: 40px;
}
#tbl-1 {
  background-color: white;
  width: 450px;
  height: 20px;
  position: relative;
  top: 90px;
  left: 120px;
  padding-left: 15px;
  z-index: 1;
}

#tbl-2 {
  padding-left: 15px;
  background-color: white;
  width: 450px;
  height: 140px;
  position: relative;
  left: 120px;
  top: 90px;
  z-index: 1;
  font-family: "Roboto Mono", monospace;
  color: #929292;
}
.tdblk {
  color: #323232;
}
.btn {
  background-color: #576cda;
  text-align: center;
  color: white;
  font-size: 16px;
  border: none;
  width: 180px;
  height: 57px;
  border-radius: 4px;
}

.btn2 {
  background-color: #576cda;
  text-align: center;
  color: white;
  font-size: 16px;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 4px;
}

#how-getform {
  text-align: center;
  padding-top: 100px;
}

#three {
  padding-top: 100px;
  padding-bottom: 100px;
}

#happy-cust {
  height: 290px;
}

.bg {
  background-color: #f0f2f6;
}
.bg2 {
  background-color: #171d3f;
}

.integrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (min-width: 576px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }
  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }
  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
    height: 100%;
  }
  .col-md-6 {
    width: calc(100% / 12 * 6);
    height: 100%;
  }
  .col-md-4 {
    width: calc(100% / 12 * 4);
    height: 100%;
  }
  .col-md-3 {
    width: calc(100% / 12 * 3);
    height: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    width: calc(100% / 12 * 12);
    padding: 20px;
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6);
    padding: 20px;
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4);
    padding: 20px;
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3);
    padding: 20px;
  }
}
